/* FriendList.module.css */

.ulFriend {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переходить на новую строку при нехватке места */
  justify-content: space-around; /* Распределение элементов по ширине контейнера */
}

/* Опционально: стили для рамки и отступов вокруг каждого друга */
.liFriend {
  border: 2px solid black; /* Рамка вокруг каждого друга */
  border-radius: 5px; /* Закругление углов рамки */
  margin: 5px; /* Отступ между друзьями */
  padding: 10px;
}
